body,
html {
  width: 100%;
  height: 100%;
}

body {
  margin-bottom:10px;
  background-image: url(2.header.jpg);
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  background-size:cover;
  height:100%;
}

h1
{
	text-align:center;
	color: rgba(255,255,255,0.8);
}

.color
{
	background-color: #F05F44;
	border-color: #F05F44;
}

.line
{
	width:50px;
	height:2px;
	margin-top: 152px;
}

.text
{
	margin-top: 182px;
}

.button
{
	margin-top: 20px;
}

.button:hover
{
	transition: all 1s;
	transform: scale(1.1);
	background-color: orange;
	cursor:pointer;
}
.rounded
{
	padding: 20px 30px;
	border-radius: 30px;
	width:200px;
}

.flexbox
{
	display: flex;
	flex-direction: column;
	align-items: center;
}